#root {
    display: flex;
    
    
}

body {
    background-color: #1a1f16;
}

#task-list {
    display: flex;
    flex-direction: column;
    background-color: #345830;
}

.task-item {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #94ECBE;
    justify-content: space-between;
    width: 600px;
}

.clicked-item {
    text-decoration: line-through;
    text-decoration-thickness: 20px;
    text-decoration-color: #1A1F16;
}

.checkbox {
    
}

.task-title {
    font-size: xx-large;
    text-align: center; 
    justify-content: center;  
}

.task-owner {
    font-size: small;
    align-self: flex-end;
}

.task-importance {
    
}

.modify-btn {
    display: flex;
    background-color: #4A7856;
    border-radius: 5px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.modify-btn input {
    margin: 15px;
    width: 80px;
    border-radius: 5px;
}

.modify-btn label {
    margin: 5px;
}

#sort-btn {
    background-color: #4A7856;
    border-radius: 10px;
    margin: 10px;
}

#loading-component {
    background-color: #1E3F20;
}